<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD PRODUCT HERE</title>
    <link rel="stylesheet" th:href="@{assets/css/typeForm.css}" type="text/css" media="all"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

</head>
<body>
<div class="container">
    <div class="registration form">
        <header>Add Product</header>
        <form method="POST" th:action="@{/addProduct}" id="processAddProduct">
            <label for="name"></label>
            <input type="text" name="name" placeholder="책 이름을 입력하세요">

            <label for="author"></label>
            <input type="text" name="author" placeholder="작가/저자를 입력하세요.">

            <label for="price"></label>
            <input type="text" name="price" placeholder="가격을 입력하세요.">

            <label for="quantity"></label>
            <input type="text" name="quantity" placeholder="수량을 입력하세요.">

            <label for="category">카테고리를 선택하세요.</label>
            <select name="category" >
                <option th:each="categoryOpt : ${T(com.example.book_store.product.common.Category).values()}"
                        th:value="${categoryOpt}" th:text="${categoryOpt}"></option>
            </select>
<!--            <input type="text" name="category" placeholder="카테고리를 선택하세요.">-->


            <input type="submit" class="button" value="책 등록">
            <input type="button" class="button2" value="취소" onclick="window.history.back()">
        </form>
    </div>
</div>
</body>
</html>