<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Product Here</title>
  <link rel="stylesheet" th:href="@{/assets/css/typeForm.css}" type="text/css" media="all"/>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
<body>

<div class="container">
  <div class="edit form">
    <Header>Edit Product</Header>
    <form method ="POST" th:action="@{/product-edit-form/{seq}(seq=${product.getSeq()})}" th:object="${product}" id="updateProduct">
      <label for="name">책 제목</label>
      <input type="text" name = "name" th:field="*{name}">
      <label for="author">저자</label>
      <input type="text" name = "author" th:field="*{author}">
      <label for="price">가격</label>
      <input type="text" name = "price" th:field="*{price}">
      <label for="quantity">수량</label>
      <input type="text" name="quantity" th:field="*{quantity}">
      <label for="category">카테고리</label>
      <select name="category">
        <option th:each="categoryOpt : ${T(com.example.book_store.product.common.Category).values()}"
                th:value="${categoryOpt}" th:text="${categoryOpt.getDisplayName()}" th:field="*{category}"></option>
      </select>

      <input type="submit" class="button" value="수정 완료">
      <input type="button" class="button2" value="취소" onclick="window.history.back()">
    </form>
  </div>
</div>

</body>
</html>