<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product List</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <th:block th:insert="~{head::head-fragment}"/>
</head>
<body>
<div th:insert="~{index::header-fragment}"></div>
<h1 style="text-align: center">책 목록</h1>
<table class="table table-hover">
    <tr>
        <th>PK</th>
        <th>제목</th>
        <th>가격</th>
        <th>수량</th>
        <th>저자</th>
        <th>분야</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.getSeq()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td th:text="${product.getAuthor()}"></td>
        <td th:text="${product.getCategory()}"></td>
<!--        <td>-->
<!--            <a th:href="@{/product-edit-form/{seq}(seq=${product.getSeq()})}">수정</a>-->
<!--        </td>-->
<!--        <td>-->
<!--            <a th:href="@{delete-product/{seq}(seq=${product.getSeq()})}">삭제</a>-->
<!--        </td>-->
        <td>
            <form method="get" th:action="@{/product-edit-form/{seq}(seq=${product.getSeq()})}">
                <button class="btn btn-outline-success" type="submit">수정</button>
            </form>
        </td>
        <td>
            <form method="get" th:action="@{/delete-product/{seq}(seq=${product.getSeq()})}">
                <button class="btn btn-outline-danger" type="submit" >삭제</button>
            </form>
        </td>

    </tr>
</table>
<div th:insert="~{index::script-fragment}"></div>
</body>
</html>