<!DOCTYPE html>
<html lang="en">
<head>
    <title>User List</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <th:block th:insert="~{head::head-fragment}"/>
</head>
<body>
<div th:insert="~{index::header-fragment}"></div>

<h1 style="text-align: center">유저 목록</h1>
<table class="table table-hover">
    <tr>
        <th>PK</th>
        <th>아이디</th>
        <th>닉네임</th>
        <th>이름</th>
        <th>등급</th>
        <th>마일리지</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getSeq()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getNickname()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getGrade()}"></td>
        <td th:text="${user.getMileage()}"></td>

        <td>
            <form method="get" th:action="@{/user-edit-form/{seq}(seq=${user.getSeq()})}">
                <button class="btn btn-outline-success" type="submit">수정</button>
            </form>
        </td>
        <td>
            <form method="get" th:action="@{/delete-user/{seq}(seq=${user.getSeq()})}">
                <button class="btn btn-outline-danger" type="submit" >삭제</button>
            </form>
        </td>
    </tr>
</table>

<div th:insert="~{index::script-fragment}"></div>
</body>
</html>