<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Here</title>
    <link rel="stylesheet" th:href="@{/assets/css/typeForm.css}" type="text/css" media="all"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>
<body>

<div class="container">
    <div class="edit form">
        <Header>Edit User</Header>
        <form method="POST" th:action="@{/user-edit-form/{seq}(seq=${user.getSeq()})}" th:object="${user}"
              id="updateUser">
            <label for="username">아이디(수정불가)</label>
            <input type="text" name="username" th:field="*{username}" readonly="readonly">
            <label for="nickname">닉네임</label>
            <input type="text" name="nickname" th:field="*{nickname}">
            <label for="name">이름</label>
            <input type="text" name="name" th:field="*{name}">
            <label for="grade">등급</label>
            <select name="grade">
                <option th:each="gradeOpt : ${T(com.example.book_store.user.domain.Grade).values()}"
                        th:value="${gradeOpt}" th:text="${gradeOpt}" th:field="*{grade}"></option>
            </select>

            <label for="mileage">마일리지</label>
            <input type="text" name="mileage" th:field="*{mileage}">

            <input type="submit" class="button" value="수정 완료">
            <input type="button" class="button2" value="취소" onclick="window.history.back()">

        </form>
    </div>
</div>
</body>
</html>