
.top-bar {
    background-color: #191919;
    min-height: 60px;
    max-height: 60px;
}

.top-bar .col-md-6 .top-logo {
    font-family: Ralway;
}

.top-bar .col-md-6  a:link {
    color : darkseagreen;
    text-decoration: none;
}

.top-bar .col-md-6  a:link {
    color : darkseagreen;
    text-decoration: none;
}

.top-bar .col-md-6 a:link {
    color : darkseagreen;
    text-decoration: none;
}

.top-bar .col-md-6 a:link {
    color : darkseagreen;
    text-decoration: none;
}


.top-bar .col-md-6 .top-action ul {
    list-style: none;

}

.top-bar .col-md-6 .top-action li {
    float: left;
    border-style: solid ;
    border-top-style: none;
    border-width: 1px;
    border-color: #191919;
    text-align: right;

}