<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Shipping Address</title>
  <link rel="stylesheet" th:href="@{/assets/css/typeForm.css}" type="text/css" media="all"/>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>
<body>

<div class="container">
  <div class="address-information form">
    <header>배송지 추가</header>
    <form method="POST" th:action="@{/add-address}" id="addressForm">
      <label for="postalCode"></label>
      <input type="text" name="postalCode" placeholder="우편번호를 입력하세요.">

      <label for="basicAddress"></label>
      <input type="text" name="basicAddress" placeholder="기본주소를 입력하세요.">

      <label for="detailedAddress"></label>
      <input type="text" name="detailedAddress" placeholder="상세주소를 입력하세요.">

      <input type="submit" class="button" value="배송지 추가">
      <input type="button" class="button2" value="취소" onclick="window.history.back()">
    </form>
  </div>
</div>

</body>
</html>
