<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KM BookStore</title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>

<body>

<!-- Start Header -->
<div th:fragment="header-fragment">
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" th:href="@{/}">
                KM Store
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                 id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shop}">About</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group"> <!-- 검색 -->
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search" data-bs-toggle="modal"
                                   data-bs-target="#templatemo_search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                       data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>

                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <!--                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>-->
                    </a>

                    <a class="nav-icon position-relative text-decoration-none" th:href="@{/myPage}">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <!--                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>-->
                    </a>

                    <a class="nav-icon position-relative text-decoration-none" th:href="@{/register}">
                        <i class="fa fa-fw fa-user-check text-dark mr-4"></i>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Start Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->
</div>
<!-- End Header-->

<!-- Start Featured Product-->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">이달의 책</h1>
                <p>
                    KM Store에서 추천하는 이 달의 책 Top 4입니다.
                </p>
            </div>
        </div>
        <div class="book-grid symmetric-padding">

            <div class="col-12 col-md-4 mb-4"> <!-- 상품 하나 -->
                <div class="card h-100">
                    <a th:href="@{/singleProduct}">
                        <img src="./assets/img/book1.jpg" class="card-img-top" width="162" height="228" alt="...">

                        <div class="card-text">
                            <strong>눈에 갇힌 외딴 산장에서</strong>
                            <span>히가시노 게이고</span>
                            <span class="sp-price">18,000원</span>
                        </div>
                    </a>
                </div>
            </div> <!-- 상품 하나 끝 -->

            <div class="col-12 col-md-4 mb-4"> <!-- 상품 하나 -->
                <div class="card h-100">
                    <a th:href="@{/singleProduct}">
                        <img src="./assets/img/book2.jpg" class="card-img-top" alt="...">

                        <div class="card-text">
                            <strong>모던 자바 인 액션</strong>
                            <span>한빛미디어</span>
                            <span class="sp-price">34,000원</span>
                        </div>
                    </a>
                </div>
            </div> <!-- 상품 하나 끝 -->

            <div class="col-12 col-md-4 mb-4"> <!-- 상품 하나 -->
                <div class="card h-100">
                    <a th:href="@{/singleProduct}">
                        <img src="./assets/img/book3.jpg" class="card-img-top" alt="...">

                        <div class="card-text">
                            <strong>아기 판다 푸바오</strong>
                            <span>에버랜드</span>
                            <span class="sp-price">18,000원</span>
                        </div>
                    </a>
                </div>
            </div> <!-- 상품 하나 끝 -->

            <div class="col-12 col-md-4 mb-4"> <!-- 상품 하나 -->
                <div class="card h-100">
                    <a th:href="@{/singleProduct}">
                        <img src="./assets/img/book4.jpg" class="card-img-top" alt="...">

                        <div class="card-text">
                            <strong>함수형 사고</strong>
                            <span>한빛미디어</span>
                            <span class="sp-price">16,200원</span>
                        </div>
                    </a>
                </div>
            </div> <!-- 상품 하나 끝 -->

        </div>
    </div>
</section>
<!-- End Featured Product -->


<!-- Start Script -->
<div th:fragment="script-fragment">
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
</div>
<!-- End Script-->
</body>

</html>