<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <title>KM BookStore</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <th:block th:insert="~{head::head-fragment}"/>

</head>

<body>

<!-- Start Header -->
<div th:fragment="header-fragment">
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-success logo h1 align-self-center" th:href="@{/}">
                KM Store
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                 id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <form th:action="@{/search-product}" method="get" class="w-100" >
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputMobileSearch" name="keyword" placeholder="Search ..." style="width: 68%">
                                <select class="form-select" name="category" style="width: 20%">
                                    <option th:each="categoryOpt : ${T(com.example.book_store.product.common.Category).values()}"
                                            th:value="${categoryOpt}" th:text="${categoryOpt}"></option>
                                </select>
                                <div class="input-group-text " style="width: 12%">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-fw fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex align-items-center">


                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <!--                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>-->
                    </a>

                    <a sec:authorize="isAuthenticated()">
                        <p class="navbar text m-1" sec:authorize="isAuthenticated()">Welcome, <span
                                th:text="' '+${username}"></span></p>
                        <a class="position-relative text-decoration-none" th:href="@{/my-page}">
                            <span class="badge rounded-pill bg-light text-dark text-small mt-1">마이페이지</span>
                        </a>

                        <a class="position-relative text-decoration-none" th:href="@{/logout}">
                            <span class="badge rounded-pill bg-light text-dark text-small mt-1">로그아웃</span>
                        </a>
                    </a>

                    <a sec:authorize="isAnonymous()">
                        <a class="position-relative text-decoration-none" th:href="@{/login}">
                            <span class="badge rounded-pill bg-light text-dark text-small mt-1">로그인</span>
                        </a>

                        <a class="position-relative text-decoration-none" th:href="@{/register}">
                            <span class="badge rounded-pill bg-light text-dark text-small mt-1">회원가입</span>
                        </a>

                    </a>

                </div>
            </div>
        </div>
    </nav>
</div> <!-- End Header-->

<!-- Start Product-->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">전체 상품</h1>
                <p>
                    KM Store에 등록된 책 목록입니다.
                </p>
            </div>
        </div>

        <div class="book-grid symmetric-padding">

            <div class="col-12 col-md-4 mb-4" th:each="product : ${products}"> <!-- 상품 하나 -->
                <div class="card h-100">
                    <a th:href="@{/single-product/{seq}(seq=${product.getSeq()})}">
                        <img src="/bookImg/default.jpg" class="card-img-top" alt="...">
                        <div class="card-text">
                            <strong th:text="${product.getName()}"></strong>
                            <span th:text="${product.getAuthor()}"></span>
                            <span class="sp-price" th:text="${product.getPrice()} + '원'"></span>
                        </div>
                    </a>
                </div>
            </div> <!-- 상품 하나 끝-->
        </div>
    </div>
</section>

<!-- End Product-->


<!-- Start Script -->
<div th:fragment="script-fragment">
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/templatemo.js"></script>
    <script src="/assets/js/custom.js"></script>
</div>
<!-- End Script-->
</body>

</html>