<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KM BookStore</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <th:block th:insert="~{head::head-fragment}"/>
</head>
<body>

<!-- Start Header -->
<div th:insert="~{index::header-fragment}"></div>
<!-- End Header -->

<!-- Start Shopping Cart -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">장바구니</h1>
                <p>
                    구매하실 도서를 확인하세요.
                </p>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th scope="col">도서</th>
                    <th scope="col">도서명</th>
                    <th scope="col">가격</th>
                    <th scope="col">수량</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${orderCart.getProductCartList()}">
                    <td><img src="/bookImg/default.jpg" alt="Book Image" style="width: 50px;"></td>
                    <td th:text="${item.getProduct().getName()}"></td>
                    <td th:text="${item.getProduct().getPrice()} * ${item.getCount()} + '원'"></td>
                    <td>
                        <input type="number" min="1" class="form-control form-control-sm" th:value="${item.getCount()}">
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" title="Remove item">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 mt-3 mt-lg-0">
                <h3 class="h3">합계</h3>
                <table class="table">
                    <tr>
                        <td>총 가격</td>
                        <td th:text="${orderCart.getTotalPrice()} + '원'"></td>
                    </tr>
                </table>
                <a th:href="@{/order-page}" class="btn btn-success w-100">결제하기</a>
            </div>
        </div>
    </div>
</section>
<!-- End Shopping Cart -->

<!-- Start Script -->
<div th:insert="~{index::script-fragment}"></div>
<!-- End Script -->

</body>
</html>
